<div class="row">
  <div class="text-center">
    <div id="image-link" ng-show="imageLink" class="col-md-12">
      <div class="alert alert-success">
        Your image link: <a ng-href="{{imageLink}}">{{imageLink}}</a>
      </div>
    </div>
    <div id="main-panel" class="col-md-12" ng-hide="media">
      <div class="">
        <ng-camera
          type="photo"
          enabled="true"
          width="640"
          height="480"
          countdown="3"
          ng-model="media"
          capture-message="Go!"></ng-camera>
        <br />
      </div>
    </div>
    <div id="image-view" ng-show="media" class="text-center">
      <img id="preview" class="img-rounded" ng-src="{{media}}">
      <p>
        <button id="save" class="btn btn-success" ng-disabled="imageLink" ng-click="saveMedia()">Save</button>
        <button id="clear" class="btn btn-warning" ng-click="clearMedia()">Back</button>
      </p>
    </div>
  </div>
</div>
