<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">snaply</h3>
</div>

<div class="jumbotron row">
  <div id="main-panel" class="col-md-12" ng-hide="media">
    <ng-camera
      type="photo"
      enabled="true"
      width="640"
      height="480"
      countdown="3"
      ng-model="media"
      capture-message="Go!"></ng-camera>
  </div>
  <div id="image-view" ng-show="media">
    <img id="preview" class="img img-rounded" ng-src="{{media}}" />
    <p>
      <button id="clear" class="btn btn-warning" ng-click="clearMedia()">Back</button>
    </p>
  </div>
</div>

<div class="footer">
  <p>♥ from 00null</p>
</div>
